body {
  font-family: "Roboto Mono", monospace;
  background-color: #fbf6e2;
}

/* .navbar {
  transition: background-color 0.3s ease;
  z-index: 1040;
}

.scrolled {
  background-color: rgba(
    255,
    255,
    255,
    0.774
  );
} */

.img-header-cstm {
  height: 95%;
  width: 80%;
}
.line-sm-cstm {
  height: 2px;
  width: 70px;
  background-color: #e74040;
}

.line-md-cstm {
  height: 5px;
  width: 70px;
  background-color: #e74040;
}

.border-form-cstm {
  border: 1px solid white;
  border-radius: 5px;
}

.font-color-cstm {
  color: #e6532c;
}

.font-link-cstm {
  text-decoration: none;
  font-size: 18px;
  color: #5bbcff;
}

.card-porto-cstm {
  margin-bottom: 0;
}

.img-customer-cstm {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.icon-star-cstm {
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: gold;
}

.card-img-cstm {
  width: 100%;
  height: 100px; /* Tinggi gambar bisa disesuaikan */
  object-fit: cover;
  padding: 10px;
}

/* Styling untuk modal */
.modal-header {
  background-color: #e6532c;
  color: white;
}
.clickable {
  cursor: pointer; /* Menambahkan cursor pointer pada elemen */
}

footer {
  background-color: #12372a;
}
